<?xml version="1.0" encoding="utf-8"?>
<manifest package="space.wsq.grave" xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".GraveApp"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
    </application>

</manifest>